#header {
    background-color:  #f2f2f2;
    height: 55px;
    margin: 0;
    padding: 0;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1, h3 {
    display: inline-block;
}

h3 {
    padding: 0px 20px 0px 20px;
}
#links {
    line-height: 75px;
}
